*{

    margin:0;

    box-sizing: border-box;

}

 header{

        text-align: center;

       background-size: cover;

       padding: 27px;

 }

body{
    text-align: center;

}

h3{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 41px;


text-align: center;

color: #545454;

}

strong{
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 700;
       font-size: 35px;
      line-height: 54px;
      text-align: center;

       color: #1F9440;

}
label{
     font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
       font-weight: 300;
       font-size: 20px;
       line-height: 27px;
       color: #000000;

}

input{
    background: #E9E9E9;
    border: none;
    width: 292px;
    height: 34px;
    left: 42px;

}
button{
    background: #1F9440;
    border-radius: 50px;
    border: none;
    width: 270px;
    height: 62px;
    font-size: 30px;
    font-weight: 600px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    

}
.cancelar{
    border: none;
    border-radius: 50px;
    width: 270px;
    height: 62px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white ;
    background-color:#ADADAD;
    display: flex;
    justify-content: center;
    align-items: center;
    right:px;

  
}

a{
    text-decoration: none;
   }