*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    text-align: center;

}

img{
    width: 375px;
    height: 346px;
    left: 0px;
    top: 0px;
    
    background: url(tobby.jpg);
}

h1{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;

color: #1F9440;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #545454;
}

button{
    height: 80px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
background: #1F9440;
border-radius: 50px;
text-align: center;
border: none;

font-size: 25px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 217px;
        background-color: 
        #1F9440;
        border: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: none;
        


color: white;
}
a{
    text-decoration: none;
}